/* Put your custom CSS here */
.left {
    margin: 5px 2px 2px 0px !important;
    float: left !important;
}

h1, h2, h3, h4, h5 {font-family: "Helvetica", sans-serif; }

* { font-family: "Palatino", serif; }
