/* Put your custom CSS here */
.left {
    margin: 5px 2px 2px 0px !important;
    float: left !important;
}

body { background-color: #fefefa;}

/*
colors = ['#0271AE', '#DC2830', '#FFC438',  # blue, red, light orange
            '#6E3B87', '#008D5D', '#FA902D',  # purple, green, orange
            '#0095B7', '#CB0C7B', '#F7E43C',  # cyan, magenta, yellow
            '#88B93B', '#444F95', '#F16232']  # pea green, dark blue, dark orange
*/
.blue {color: #0271AE;}
.red {color: #DC2830;}
.orange {color: #FFC438;}
.purple {color: #633B87;}
.green {color: #008D5D;}
.dkorange {color: #FA902D;}
.cyan {color: #0095B7;}
.magenta {color: #CB0C8B;}
.yellow {color: #F7E43C;}
.peagreen {color: #88B93B;}
.darkblue {color: #444F95;}
.darkorange {color: #F16232;}

div, h1, h2, h3, h4, h5, h6 {   
    font-family: "Palatino", serif; 
}

div.section {
    text-align: justify;
    text-justify: inter-word;
}

p.caption {
    text-align: justify;
    text-justify: inter-word;
}

/* Fixing up some pygments and code-styling CSS for accessibility */
code { font-size: 100%; color: #444F95; }
pre { font-family: monospace; }

/* .highlight { font-size: 125%; } */
.highlight .c1 { color: #633B87; }
.highlight .si { color: #633B87; }
.highlight .nn { color: #633B87; }
