/* Put your custom CSS here */
.left {
    margin: 5px 2px 2px 0px !important;
    float: left !important;
}

body { background-color: #fefefa;}
div.cell div.cell_input {
    background-color: #f7f7f3;
}


.blue {color: #0271AE;}
.red {color: #DC2830;}
.orange {color: #F2AA00;}
.purple {color: #633B87;}
.green {color: #007D4D;}
.dkorange {color: #FA902D;}
.cyan {color: #007D80;}
.magenta {color: #C20CAA;}
.yellow {color: #F7E43C;}
.peagreen {color: #00A69D;}
.darkblue {color: #444F95;}
.darkorange {color: #F16232;}

div, h1, h2, h3, h4, h5, h6 {   
    font-family: "Palatino", serif; 
}

div.section {
    text-align: justify;
    text-justify: inter-word;
}

div.site-navigation {
    background-color: #fcfcf8;
}
p.caption {
    text-align: justify;
    text-justify: inter-word;
}
span.caption-text {
    text-align: left;
    text-justify: auto;
}

/* Fixing up some pygments and code-styling CSS for accessibility */
code { font-size: 100%; color: #444F95; }
pre { font-family: monospace; }

/* .highlight { font-size: 125%; } */
.highlight .c1 { color: #633B87; }
.highlight .si { color: #633B87; }
.highlight .nn { color: #633B87; }
